<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.first.springer">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".common.MyApplication"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:resizeableActivity="false"
        tools:replace="android:supportsRtl"
        android:theme="@style/AppTheme"
        tools:targetApi="n">
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-9755212852136016~3580968159"/>

        <activity android:name="com.facebook.FacebookActivity" android:configChanges= "keyboard|keyboardHidden|screenLayout|screenSize|orientation" android:label="@string/app_name" />
        <activity android:name="com.facebook.CustomTabActivity" android:exported="true"> <intent-filter> <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" /> <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="@string/fb_login_protocol_scheme" /> </intent-filter> </activity>

        <activity
            android:name="com.first.springer.proccessactivites.Fragmentholder"
            android:launchMode = "singleTask"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustNothing" />
        <activity android:name="com.first.springer.login.Resetpass" />
        <activity android:name="com.first.springer.login.SignUp"
            android:configChanges= "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:screenOrientation="portrait"/>
        <activity android:name="com.first.springer.login.Login"
            android:configChanges= "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:screenOrientation="portrait"/>
        <activity android:name="com.first.springer.login.Loginandsign"

            />


        <activity
            android:name="com.first.springer.Splash"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:configChanges= "keyboard|keyboardHidden|screenLayout|screenSize|orientation" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.first.springer.tutorial.Tutorial" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>